@import '../../../styles.scss';

.registrationHeader{
height: 65px;
}

.registrationHeader hr{
width: calc(100% - 125px);
    margin: 30px 0px 30px 20px;
}

.help{
    width: 100%;
    height: 100px;
}

.help > div{
    width: 33%;
    float: left;
    color: $verdeIcon;
}

.help > div p{
    width: 75%;
    margin: auto;
    font-size: 12px;
    float: left;
    margin: 0 13px;
    color:black;
}

.iconHelp{
float: left;
font-size: 42px;
}

.separaForm,
.formRegistration{
 width: 75%;   
 margin: 40px auto;
}

.separaForm{
border:1px solid;
}

.formRegistration *{
    font-size: 12px;
}
.formRegistration span{
font-size: 10px;
color: #8d8d8d;
}


.formRegistration section{
    width: 50%;
height: 250px;
}

.formRegistration section div{
margin: 15px 0;
height: 55px;
}

.formRegistration section div input[type="text"]{
    width: 90%;

}

.formRegistration section div input{
    height: 20px;
    border: 1px solid  rgb(216,216,216);
    border-radius: 5px;
    padding: 0 5px;
}

.esq{
    float: left;
}

.dir{
float: right;
}

// .formRegistration > div{
//     display: inline-block;
//     width: 50%;
// }

// .formRegistration > div input[type="text"]{
//     width: 300px;
// }

// .formRegistration > div input{
//     height: 20px;
// }

// .formRegistration > div:nth-of-type(odd){
//     float: left;
// }

// .formRegistration > div:nth-of-type(even){
//     float: right;
// }

// .opcional{
// float: right;
// margin: 0 10px 0px 0;
// }

.inputOpcional{
    width: 84%;
    float: left;
}

.btnSave, 
.btnDiscard{
border:0;
border-radius: 5px;
cursor: pointer;
padding: 8px 15px;

}

.btnSave:hover{
    background-color: #18a589;
}

.btnDiscard:hover{
    background-color: #c8c8c8;
}

.btnSave{
color: white;
background-color: $verdeTxt;
}

.btnDiscard{
    background-color: $cinzaHover;
    margin: 0 10px;
}

.container {
    position: relative;
padding-left: 17px;
cursor: pointer;
font-size: 12px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin: 0px 7px 0px 0px;
top: 5px;
  }
  

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color:transparent;
    border:1px solid $verdeTxt;
  }

  .checkmark.typeRadio{
      border-radius: 100px;
  }
  
  
  .container:hover input ~ .checkmark {
    background-color: transparent;
    border:1px solid $verdeTxt;
  }
  
  
  
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 5px;
    width: 2px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container .checkmark.typeRadio:after{
  left: 2px;
    width: 8px;
    height: 8px;
    top: 2px;  
    background: black;
    border-radius: 100px;
}