<section class="subHeader alinhaEsquerda">
  <fa-icon [icon]="faHome" class="alinhaCentro"></fa-icon>
  <!-- rota -->
</section>
<section class="Sports">
  <div class="infoSports">
    <fa-icon [icon]="faPuzzlePiece"></fa-icon>
    <span>Sport Type</span>
    <p>Cycling</p>
  </div>
  <div class="infoSports">
    <fa-icon [icon]="faTrophy"></fa-icon>
    <span>Mode</span>
    <p>Advanced</p>
  </div>
  <div class="infoSports">
    <fa-icon [icon]="faMapSigns"></fa-icon>
    <span>Route</span>
    <p>30 miles</p>
  </div>
</section>

<section>
  <div class="usersHeader">
    <h3>Users</h3>
    <hr>
    <input type="text" [(ngModel)]="this.pesquisa" (ngModelChange)="filterFunction()" class="pesquisa" placeholder="&#9906; Filter table content" />
  </div>

  <div class="usersTable">
    <table style="width:100%">
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>City</th>
        <th>Ride in group</th>
        <th>Day of the week</th>
        <th>Post</th>
        <th>Albums</th>
        <th>Photos</th>
        <th>&nbsp;</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address.city}}</td>
        <td>Jackson</td>
        <td>94</td>
        <td>{{user.posts.length}}</td>
        <td>{{user.albuns.length}}</td>
        <td>{{user.photos.length}}</td>
        <td class="tdLixeira" (click)="removerElemento(user)">lixeira</td>
      </tr>
    </table>

    <!-- <ul style="width:100%">
      <li>
        <p>Username</p>
        <p>Name</p>
        <p>E-mail</p>
        <p>City</p>
        <p>Ride in group</p>
        <p>Day of the week</p>
        <p>Post</p>
        <p>Albums</p>
        <p>Photos</p>
      </li>
      <li *ngFor="let user of users">
        <p>{{user.username}}</p>
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.address.city}}</p>
        <p>Jackson</p>
        <p>94</p>
        <p>{{user.posts.length}}</p>
        <p>{{user.albuns.length}}</p>
        <p>{{user.photos.length}}</p>
      </li>
    </ul> -->




  </div>
</section>



<router-outlet></router-outlet>
