

    .usersTable ul{
        width: 100%;
        padding: 0;
        font-size: 12px;
    }

    .usersTable li{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 12px;
}

tr:nth-child(odd):not(:first-of-type){
    background-color: #eaeaea;
}

.tdLixeira{
    visibility: hidden;
}
tr:hover .tdLixeira{
    visibility: visible;
    cursor: pointer;
}

    // .pesquisa
    // {
    // -webkit-transform: rotate(45deg); 
    //            -moz-transform: rotate(45deg); 
    //              -o-transform: rotate(45deg);
    //                 transform: rotate(45deg);
    // }