/* You can add global styles to this file, and also import other style files */
// $floatLeft: left ;
// $floatRight: right ;
// $displayF: flex;
// $verdePadrao: '';
// $verdeIcon: '';

.alinhaCentro{
    display: flex;
justify-content: center;
flex-direction: column;
}

.alinhaEsquerda{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.componentHeader h3 {
    float: left;
        }
    
        .componentHeader > hr{
            float: left;
    width:calc(100% - 260px);
    margin: 20px;
        }
    
        .componentHeader input {
            float: right;
                }