/* You can add global styles to this file, and also import other style files */

 $verdeTxt: rgb(26,188,156);
 $verdeIcon: rgb(59,197,170);
 $verdeFundo:rgb(187,235,226);
 $cinzaFundo: rgb(249,249,249);
 $cinzaHover: rgb(227,227,227);

 *{
    font-family: arial;
    outline: none;
 }

 ul{
    padding: 0;
}

a{
    text-decoration: none;
}

hr{
    color: rgb(241,241,241);
    border: 2px solid;
    background-color: rgb(241,241,241);
    
}

.alinhaCentro{
    display: flex;
justify-content: center;
flex-direction: column;
}

.alinhaEsquerda{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.componentHeader h3 {
    float: left;
    font-weight: normal;
        }
    
        .componentHeader > hr{
            float: left;
    width:calc(100% - 420px);
    margin: 30px 20px;
        }
    
        .componentHeader input {
            float: right;
            border-radius: 5px;
            width: 300px;
            position: relative;
            top: 15px;
            border: 1px solid  rgb(216,216,216);
            padding: 5px;
                }