<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="fundoInterrogacao alinhaCentro">
    <fa-icon [icon]="faQuestion"></fa-icon>
  </div>
  <h3>Venturus Sports</h3>
  <div class="alinhaCentro">
      <div>
        <a title="Jason Bourne">JB</a>
      </div>
      <label>Jason Bourne</label>
      <fa-icon [icon]="faAngleDown"></fa-icon>
  </div>
</header>
<section class="subHeader alinhaEsquerda">
  <fa-icon [icon]="faHome" class="alinhaCentro"></fa-icon>
  <!-- rota -->
  <ul class="breadcrumb">
    <li><a href="/users">Users</a></li>
    <!-- <a [routerLink]="[route.breadcrumb.url, breadcrumb.params]"></a> -->
    <li><a href="/users/new" *ngIf="route.url == '/users/new'">New</a></li>
  </ul>
</section>
<section class="Sports">
  <div class="infoSports">
    <fa-icon [icon]="faPuzzlePiece"></fa-icon>
    <span>Sport Type</span>
    <p>Cycling</p>
  </div>
  <div class="infoSports">
    <fa-icon [icon]="faTrophy"></fa-icon>
    <span>Mode</span>
    <p>Advanced</p>
  </div>
  <div class="infoSports">
    <fa-icon [icon]="faMapSigns"></fa-icon>
    <span>Route</span>
    <p>30 miles</p>
  </div>
</section>

<router-outlet></router-outlet>