<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="fundoInterrogacao alinhaCentro">
    <fa-icon [icon]="faQuestion" class="iconInterroga"></fa-icon>
  </div>
  <h4>Venturus Sports</h4>
  <div class="alinhaCentro fundoDD" >
    <div class="imgUser">
      <a title="Jason Bourne">JB</a>
    </div>
    <div class="dropDown">
      <select class="">
        <option>Jason Bourne</option>
        <option>Friends List</option>
        <option>Saved Items</option>
        <option>Notifications</option>
        <option>User preferences</option>
        <option>Log out</option>
      </select>
    </div>
    <!-- <label>Jason Bourne</label>
      <fa-icon [icon]="faAngleDown"></fa-icon> -->
  </div>
</header>
<section class="subHeader alinhaEsquerda">
  <fa-icon [icon]="faHome" class="alinhaCentro"></fa-icon>
  <!-- rota -->
  <ul class="breadcrumb alinhaCentro">
    <li><a href="/users">Users</a></li>
    <li><a href="/users/new" *ngIf="route.url == '/users/new'">> &nbsp;&nbsp; New</a></li>
  </ul>
</section>

<section class="Sports">
  <div class="infoSports">
    <fa-icon [icon]="faPuzzlePiece"></fa-icon>
    <span>Sport Type</span>
    <p>Cycling</p>
  </div>
  <div class="infoSports">
    <fa-icon [icon]="faTrophy"></fa-icon>
    <span>Mode</span>
    <p>Advanced</p>
  </div>
  <div class="infoSports">
    <fa-icon [icon]="faMapSigns"></fa-icon>
    <span>Route</span>
    <p>30 miles</p>
  </div>
</section>

<router-outlet></router-outlet>